<!--不采用默认的布局-->
{__NOLAYOUT__}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <title>在线电影票</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}monokai_sublime.min.css">
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}screen.css?v=7dddbe75bf"/>
    <link rel="stylesheet" type="text/css" href="{$Think.config.CSS_URL}magnific-popup.min.css">
    <script src="{$Think.config.JS_URL}jquery.min.js"></script>
    <script src="{$Think.config.JS_URL}bootstrap.min.js"></script>
    <script src="{$Think.config.JS_URL}jquery.fitvids.min.js"></script>
    <script src="{$Think.config.JS_URL}highlight.min.js"></script>
    <script src="{$Think.config.JS_URL}jquery.magnific-popup.min.js"></script>
    <script src="{$Think.config.JS_URL}main.js?v=7dddbe75bf"></script>

</head>
<body class="home-template">

<!-- start header -->
<header class="main-header"
        style="background-image: url('{$Think.config.IMG_URL}header.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <!-- start logo -->
                <a class="branding" href="/Booking" title="在线电影票">
                    <img src="{$Think.config.IMG_URL}logo.jpg" alt="在线电影票"></a>
                <!-- end logo -->
                <h2 class="text-hide">欢迎登陆在线电影票</h2>

                <img src="{$Think.config.IMG_URL}header.jpg" alt="在线电影票"
                     class="hide">
            </div>
        </div>
    </div>
</header>
<!-- end header -->
<!-- start navigation -->
<nav class="main-navigation">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="navbar-header">
                        <span class="nav-toggle-button collapsed" data-toggle="collapse" data-target="#main-menu">
                        <span class="sr-only">Toggle navigation</span>
                        <i class="fa fa-bars"></i>
                        </span>
                </div>
                <div class="collapse navbar-collapse" id="main-menu">
                    <ul class="menu">
                        <li class="nav-current" role="presentation"><a href="/Booking">首页</a></li>
                        <li role="presentation"><a href="">欢迎！{$username}</a></li>
                        <li role="presentation"><a href="{:U('User/usercenter')}">用户中心</a></li>
                        <li role="presentation"><a href="{:U('Index/layout')}">退出登陆</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<!-- end navigation -->
<!-- start site's main content area -->
<section class="content-wrap">
    <div class="container">
        <div class="row">
            <main class="col-md-8 main-content">
                <foreach name="film" item="v">
                    <article id=98 class="post">
                        <div class="post-head">
                            <h1 class="post-title"><a href="">{$v.filmname}</a>
                            </h1>
                            <div class="post-meta">
                                &bull;<span class="author">主演：<a href="">{$v.zhuyan}</a></span>
                            </div>
                        </div>
                        <div class="post-content">
                            <p>{$v.info}
                            </p>
                        </div>
                        <div class="post-permalink">
                            <a href="{:U('Buy/buy')}?filmid={$v.filmid}" class="btn btn-default">订票</a>
                        </div>
                    </article>
                </foreach>
                <!--nav class="pagination" role="navigation">
                    <span class="page-number">第 1 页 &frasl; 共 8 页</span>
                    <a class="older-posts" href="/page/2/"><i class="fa fa-angle-right"></i></a>
                </nav-->
            </main>

            <aside class="col-md-4 sidebar">
                <!-- 代码1：放在页面需要展示的位置  -->
                <!-- 如果您配置过sourceid，建议在div标签中配置sourceid、cid(分类id)，没有请忽略  -->
                <div id="cyReping" role="cylabs" data-use="reping"></div>
                <!-- 代码2：用来读取评论框配置，此代码需放置在代码1之后。 -->
                <!-- 如果当前页面有评论框，代码2请勿放置在评论框代码之前。 -->
                <!-- 如果页面同时使用多个实验室项目，以下代码只需要引入一次，只配置上面的div标签即可 -->
                <script type="text/javascript" charset="utf-8" src="https://changyan.itc.cn/js/lib/jquery.js"></script>
                <script type="text/javascript" charset="utf-8" src="https://changyan.sohu.com/js/changyan.labs.https.js?appid=cytcjdOYQ"></script>
            </aside>

        </div>
    </div>
</section>


<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <span>Copyright &copy; <a href="">在线电影票</a></span> |
                <span><a href="http://www.miibeian.gov.cn/" target="_blank">京ICP备11111111号</a></span> |
                <span>京公网安备1111111111111111</span>
            </div>
        </div>
    </div>
</div>

<a href="#" id="back-to-top"><i class="fa fa-angle-up"></i></a>
</body>
</html>
