<!--这个是默认的上下布局文件-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>在线电影票</title>
    <link rel="stylesheet" href="{$Think.config.CSS_URL}base.css" type="text/css">
    <link rel="stylesheet" href="{$Think.config.CSS_URL}global.css" type="text/css">
    <link rel="stylesheet" href="{$Think.config.CSS_URL}header.css" type="text/css">
    <link rel="stylesheet" href="{$Think.config.CSS_URL}login.css" type="text/css">
    <link rel="stylesheet" href="{$Think.config.CSS_URL}footer.css" type="text/css">
</head>
<body>
<div style="clear:both;"></div>
<!-- 页面头部 start -->
<div class="header w990 bc mt15">
    <div class="logo w990">
        <h2 class="fl"><a href="{:U('Index/index')}"><img src="{$Think.config.IMG_URL}logo.jpg" alt="在线电影票"></a></h2>
    </div>
</div>
<!-- 页面头部 end -->
{__CONTENT__}

</body>
</html>