<div class="div_head">
            <span>
                <span style="float:left">当前位置是：电影管理-》修改电影信息</span>
            </span>
</div>
<div style="font-size: 13px; margin: 10px 5px;">
    <table class="table_a" border="1" width="100%">
        <tbody>
        <tr style="font-weight: bold;">
            <td>编号</td>
            <td>电影名字</td>
            <td>主演</td>
            <td>电影详情</td>
            <td align="center">操作</td>
        </tr>

        <foreach name="data" item="v">
        <tr id="product1">

            <td>{$v.filmid}</td>
            <td><a href="#">{$v.filmname}</a></td>
            <td>{$v.zhuyan}</td>
            <td>{$v.info}</td>
            <!--通过URL参数传递需要删除的电影id-->
            <td>  <a onclick="if (confirm('确定要删除吗？')) return true; else return false;" href="{:U('Manage/updatefilm')}?filmid={$v.filmid}">删除</a></td>
        </tr>
        </foreach>
        <tr>
            <td colspan="20" style="text-align: center;">
                [下一页]
            </td>
        </tr>
        </tbody>
    </table>
</div>